/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #FF0070;
  --normal-text-color: #F1B2CE;
  --special-text-color: #000028;
  --main-title-color: #DB00FF;
  --background-image: url(../images/cover-image-dark.png);
  --font-family: 'IBM Plex mono', 'Arial', 'Helvetica', sans-serif;
  --from-ten-to-twenty-px-space: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  --sections-gap: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
}
