/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


.page.theme_light {
  --accent-color: #FF8DCB;
  --normal-text-color: #353430;
  --special-text-color: var(--normal-text-color);
  --main-title-color: #FFC2E6;
  --hover-color: rgb(50 49 45 / 0.4);
  --background-color: #FFF1F7;
  --decorative-elements-color: var(--normal-text-color);
  --element-showing: 0;
  --menu-color: var(--normal-text-color);
  --section-title-color: var(--normal-text-color);
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --normal-text-color: #353430;
    --special-text-color: var(--normal-text-color);
    --main-title-color: #FFC2E6;
    --hover-color: rgb(50 49 45 / 0.4);
    --background-color: #FFF1F7;
    --decorative-elements-color: var(--normal-text-color);
    --element-showing: 0;
    --menu-color: var(--normal-text-color);
    --section-title-color: var(--normal-text-color);
    --background-image: url(../images/cover-image-light.png);
  }
}