/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

:root {
  --accent-color: #FF0070;
  --normal-text-color: #F1B2CE;
  --special-text-color: #000028;
  --main-title-color: #DB00FF;
  --background-image: url(../images/cover-image-dark.png);
  --font-family: 'IBM Plex mono', 'Arial', 'Helvetica', sans-serif;
  --from-ten-to-twenty-px-space: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  --sections-gap: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
}

.page {
  padding-block-start: var(--from-ten-to-twenty-px-space);
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--special-text-color);
  font-family: var(--font-family, monospace);
  font-size: 18px;
}

.header {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-block-end: var(--sections-gap);
}

.header::before {
  box-sizing: border-box;
  grid-row-start: 1;
  grid-column-start: 3;
  justify-self: end;
  margin-inline-end: var(--from-ten-to-twenty-px-space);
  content: '';
  width: 25px;
  height:25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.header::after {
  box-sizing: border-box;
  grid-column-start: 1;
  grid-row-start: 3;
  align-self: end;
  margin-inline-start: var(--from-ten-to-twenty-px-space);
  margin-block-end: var(--from-ten-to-twenty-px-space);
  content: '';
  width: 25px;
  height:25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu {
  grid-column-start: 2;
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  margin-block-end: clamp(10.8125rem, -7.9375rem + 39.0625vw, 17.0625rem);
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  box-sizing: border-box;
  color: var(--accent-color);
  line-height: 18px;
  padding-inline: 13px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid rgb(255 0 112 / 0.4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header-title {
  margin-block-end: 114px;
}

.main-title {
  grid-column: span 3;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--main-title-color);
  text-shadow: 4px 4px var(--accent-color);
  font-weight: bold;
}

.header-text {
  grid-column: 2/4;
  justify-self: end;
  max-width: 491px;
  margin-inline-end: var(--from-ten-to-twenty-px-space);
  margin-block-end: 134px;
}

.title-decor {
  height: fit-content;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--special-text-color);
  font-family: var(--font-family);
  font-weight: bold;
}

.style-text {
  display: flex;
  align-items: center;
  position: absolute;
  line-height: 25px;
  right: 29px;
}

.style-text::after {
  display: block;
  margin-inline-start: 10px;
  content: '';
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
  padding-inline: var(--from-ten-to-twenty-px-space);
  margin-block-end: var(--sections-gap);
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section-title {
  color: var(--accent-color);
  font-size: 18px;
  line-height: 23.4px;
}

.section-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-why-article {
  grid-column: 2/4;
}

.article-text {
  color: var(--normal-text-color);
}

.text-link {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}

.text-link:hover {
  border-bottom: 1px solid var(--normal-text-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--normal-text-color);
}

.section-what-article {
  grid-row-start: 2;
}

.section-how .section-title {
  grid-row: span 2;
}

.section-how-article {
  grid-column: 2/4;
}

.article-subtitle {
  font-weight: normal;
}

.section-pictures .section-title {
  grid-column: span 3;
  color: var(--special-text-color);
}

.images {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.sunset {
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-column: span 2;
}

.ice-cream {
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-row: span 2;
}

.tape {
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-row: span 2;
}

.books {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.street {
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-column: span 2;
}

.footer {
  display: grid;
  padding-inline: var(--from-ten-to-twenty-px-space);
  height: 100vh;
}

.footer-title {
  place-self: center;
}

.footer::before {
  box-sizing: border-box;
  grid-row-start: 1;
  grid-column-start: 3;
  justify-self: end;
  margin-block-start: var(--from-ten-to-twenty-px-space);
  content: '';
  width: 25px;
  height:25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.footer::after {
  box-sizing: border-box;
  grid-column-start: 1;
  grid-row-start: 3;
  align-self: end;
  margin-block-end: var(--from-ten-to-twenty-px-space);
  content: '';
  width: 25px;
  height:25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

@media (width <= 768px) {

  .header {
    grid-template-columns: repeat(2, 1fr);
  }

  .header::before {
    grid-column-start: 2;
    margin-inline: 0;
  }

  .header::after {
    grid-row-start: 4;
    margin-inline: 0;
  }

  .header__theme-menu {
    justify-self: end;
    margin-block-start: clamp(2.4375rem, -3.9437rem + 27.2265vw, 9.125rem);
  }

  .header__theme-menu-list {
    flex-direction: column;
    margin-block-end: clamp(4.0625rem, -2.3783rem + 27.4809vw, 10.8125rem);
  }

  .main-title {
    grid-column: span 2;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-block-end: clamp(3.4375rem, -2.9437rem + 27.2265vw, 10.125rem);
  }

  .header-text {
    grid-column-start: 2;
    margin-block-end: clamp(1.9375rem, -7.1274rem + 38.6768vw, 11.4375rem);
  }

  .section {
    grid-template-columns: 0.5fr 1fr;
  }

  .section-why-article {
    grid-column: 2;
  }

  .section-what-article {
    grid-column: 1/3;
  }

  .section-what-article:first-of-type {
    grid-row-start: 2;
  }

  .section-what-article:not(:first-of-type):not(:last-of-type) {
    grid-row-start: 3;
  }

  .section-what-article:last-of-type {
    grid-row-start: 4;
  }

  .footer .main-title {
    margin: 0;
  }

  .footer::before {
    grid-column-start: 2;
  }

  .footer::after {
    grid-row-start: 3;
  }

}

@media (width <= 375px) {

  .header {
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 10px;
  }

  .header::before {
    grid-column-start: 2;
  }

  .header::after {
    grid-row-start: 5;
  }

  .style-text {
    right: 19px;
  }

  .header__theme-menu {
    justify-self: end;
    margin-block-start: clamp(2.4375rem, -3.9437rem + 27.2265vw, 9.125rem);
  }

  .header__theme-menu-list {
    flex-direction: column;
    margin-block-end: clamp(4.0625rem, -2.3783rem + 27.4809vw, 10.8125rem);
  }

  .main-title {
    grid-column: span 2;
    margin-block-end: clamp(3.4375rem, -2.9437rem + 27.2265vw, 10.125rem);
  }

  .header-text {
    grid-column: span 2;
    margin-inline-end: 0;
  }

  .section {
    display: flex;
    flex-direction: column;
  }

  .images {
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
  }

}

@media (prefers-color-scheme: light) {
  :root{
    --accent-color: #FF8DCB;
    --normal-text-color: #353430;
    --special-text-color: var(--normal-text-color);
    --main-title-color: #FFC2E6;
    --background-image: url(../images/cover-image-light.png);
  }

  .style-text {
    display: none;
  }

  .page {
    background-color: #FFF1F7;
  }

  .header::before {
    border-top: 1px solid var(--normal-text-color);
    border-right: 1px solid var(--normal-text-color);
  }

  .header::after {
    border-bottom: 1px solid var(--normal-text-color);
    border-left: 1px solid var(--normal-text-color);
  }

  .header__theme-menu-button {
    color: var(--normal-text-color);
  }
  
  .header__theme-menu-button_active {
    border: 1px solid var(--normal-text-color);
    pointer-events: none;
  }
  
  .header__theme-menu-button:hover {
    border: 1px solid rgb(50 49 45 / 0.4);
  }
  
  .header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom: 1px solid var(--normal-text-color);
  }

  .section-title {
    color: var(--normal-text-color);
  }

  .footer::before {
    border-top: 1px solid var(--normal-text-color);
    border-right: 1px solid var(--normal-text-color);
  }

  .footer::after {
    border-bottom: 1px solid var(--normal-text-color);
    border-left: 1px solid var(--normal-text-color);
  }
}